body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: Verdana, sans-serif;
  padding: var(--space-md);
  margin-top: -15px;
}

.title {
  margin: 0;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
  margin-top: var(--space-xl);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-top: var(--space-lg);
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.contact-form {
  border: 1px solid var(--pricing-border-color);
  border-radius: var(--radius-lg);
  background-image: linear-gradient(
    var(--primary-bg-color),
    var(--secondary-bg-color)
  );
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media (min-width: 480px) {
  .row {
    flex-direction: row;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-description {
  color: var(--secondary-text-color);
  margin-top: var(--space-md);
  font-size: var(--font-xs);
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

/*  */

.required-span {
  color: var(--error-color);
}

.input-info {
  color: var(--input-info-color);
  font-size: var(--font-xs);
}

.input {
  margin-top: var(--space-sm);
  background-color: var(--input-bg-color);
  border-radius: var(--radius-lg);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--color-navy-600);
  color: var(--color-white);
}

.range {
  padding: 0;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-md);
}

.reset-btn {
  background-color: var(--color-navy-900);
  color: var(--color-white);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-navy-600);
  padding: var(--space-sm);
  cursor: pointer;
}

.submit-btn {
  background-color: var(--color-blue-400);
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  border: 1px solid var(--color-navy-600);
  cursor: pointer;
}


#attachment {
  padding: 8px 16px;
  background-color: var(--color-navy-900);
  color: var(--color-gray-300);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}


#attachment:hover {
  background-color: var(--color-navy-600); 
}

#attachment::file-selector-button {
  padding: 8px 16px;
  background-color: var(--color-blue-500);
  /* color: var(--color-white); */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

#attachment::file-selector-button:hover {
  background-color: var(--file-hover);
}