/* -------- */
.header {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
  border-bottom: var(--border-xs) solid var(--border-color);
  padding: var(--space-md);

  position: sticky;
  top: 0;
  background-color: var(--primary-bg-color);
  z-index: 100;
}

.hamburger-checkbox {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: var(--space-xs);
  cursor: pointer;
  padding: 8px;
  z-index: 101;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.nav-menu {
  display: flex;
  gap: var(--space-lg);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .header {
    justify-content: space-between;
    justify-content: flex-end;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: left 0.3s ease;
    padding: var(--space-lg) 0;
    border-bottom: var(--border-xs) solid var(--border-color);
    gap: var(--space-md);
    margin-top: var(--space-xl);
  }

  .hamburger-checkbox:checked ~ .nav-menu {
    left: 0;
  }

  .nav-menu .link {
    font-size: var(--font-md);
  }
}
/* === */

.header .link {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-sm);
  padding: 0;
}

.header .link:hover {
  color: var(--switch-active-color);
}

.header .link:active {
  color: var(--switch-active-color);
}

.header .link.active {
  color: var(--switch-active-color);
  font-weight: 600;
}
