body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: Verdana, sans-serif;
  padding: var(--space-md);
}

.title {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

@media screen and (min-width: 480px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
  }
}

.container > .price-card {
  border: 1px solid var(--border-color);
  padding: var(--space-md);
  text-align: center;
  color: var(--text-color);
  border-radius: var(--radius-lg);
  background-image: linear-gradient(
    to top,
    var(--primary-bg-color),
    var(--secondary-bg-color)
  );
}

.price-card > .name {
  font-size: var(--font-xl);
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-sm);
}

.price-card > .description {
  font-size: var(--font-md);
  margin-bottom: var(--space-md);
  color: var(--secondary-text-color);
  text-align: left;
  margin-top: var(--space-xl);
}

.price-card > .features {
  text-align: left;
  margin-bottom: var(--space-md);
  color: var(--top-title-color);
  padding-left: var(--space-md);
}

.price-card > .title {
  font-size: var(--font-xxl);
  font-weight: var(--fw-bold);
  text-align: left;
  margin-bottom: var(--space-lg);
  color: var(--secondary-text-color);
}

.price-card > .price {
  font-size: var(--font-xxx);
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-sm);
  text-align: left;
  color: var(--secondary-text-color);
}

.price-card > .action {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  padding: 10px 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  font-weight: var(--fw-bold);
}
.price-card > .action:hover {
  background-color: var(--border-color);
}

.seat {
  font-size: var(--font-md);
  color: var(--secondary-text-color);
}

.bottom-description {
  color: var(--secondary-text-color);
  margin-top: var(--space-xs);
  font-size: var(--font-xs);
}

.price-card > .features li::marker {
  color: var(--price-bullet-color);
}

.monthly-switcher .label {
  margin: 0;
  color: var(--top-title-color);
  font-size: var(--font-sm);
}

.monthly-switcher {
  border: 1px solid var(--border-color);
  border-radius: var(--radius-xl);
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  padding: var(--space-sm);
  margin-top: var(--space-xl);
}

.popular {
  position: relative;
  overflow: hidden;
}

.popular > .badge {
  position: absolute;
  top: 30px;
  right: -40px;
  background-color: var(--most-popular-bg-color);
  color: black;
  padding: var(--space-sm) var(--space-xl);
  font-size: var(--font-md);
  font-weight: var(--fw-bold);
  transform: rotate(40deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: var(--transition-default);
  border-radius: 17px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--slider-bg-color);
  transition: var(--transition-default);
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--switch-active-color);
}

.switch input:checked + .slider::before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.annual {
  display: none;
}

.monthly {
  display: block;
}

.monthly-switcher:has(input:checked) ~ .container .monthly {
  display: none;
}

.monthly-switcher:has(input:checked) ~ .container .annual {
  display: block;
}

.annual-discount {
  color: var(--most-popular-bg-color);
}
